<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="testskipapp.monkey.com">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".AppApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <!--以下2个Intent filter要分开写-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--DEFAULT这个category不能省略-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="monkey" />
            </intent-filter>
        </activity>

        <activity android:name=".FirstActivity">
        </activity>

        <activity android:name=".SecondActivity"
            android:allowTaskReparenting="true">

        </activity>

        <activity android:name=".ThirdActivity">
        </activity>

        <activity android:name=".FourthActivity">
        </activity>

    </application>

</manifest>